<!-- app/views/recipes/public_recipe.html.erb -->
<%= render 'layouts/header' %>

<h1>Public Recipes</h1>
<ul>
  <% @public_recipes.each do |recipe| %>
    <div class="public_li">
    <div class="pub1">
      <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <p>By: <%= recipe.user.name %></p>
    </div>
    <div class="pub2">
      <p>Total food items: <%= recipe.recipe_foods.count %></p>
      <p>Total Price: <%= recipe.recipe_foods.joins(:food).sum('recipe_foods.quantity * foods.price') %></p>
    </div>
    </div>
  <% end %>
</ul>




